<body style="background-image: url('../assets/img/fundo-menu.jpg');">
  <nav>
    <h1 class="title">SLEEP SOUNDS APP</h1>
    <ul>
      <li><a class="button" href="pagina1.html">Fogueira</a></li>
      <li><a class="button" href="pagina2.html">Noite chuvosa</a></li>
      <li><a class="button" href="pagina3.html">Passeio de carro</a></li>
      <li><a class="button" href="pagina4.html">Som para estudos</a></li>
      <li><a class="button" href="pagina5.html">Som relaxante</a></li>
    </ul>
  </nav>
</body>
